.navbutton {
  border: 0;
  background: white;
  color: var(--Gray-1, #333);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-right: 50px;
  cursor: pointer;
  
}

.navbutton:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all 0.5s;
}
