h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  color: var(--Gray-4, #bdbdbd);
}

h2 {
  color: var(--Gray-1, #333);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.text {
  margin-bottom: 61px;
}

.projects{
    margin-top: 63px;
}

.projectlist{
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.navigation{
  margin-top: 60px;
}

.navtext{
  color: var(--Gray-4, #bdbdbd);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}