.projectpage {
  margin-top: 63px;
}

.title {
  margin-bottom: 60px;
}

.content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.text {
  display: block;
  width: 721px;
  color: #000;
  
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
