.about {
  height: 435px;
  background: var(--1, #fbfbfb);
  margin-top: 120px;
  padding-left: 100px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  display: inline-flex;
}

.image {
  display: flex;
  flex-direction: column;
}

.paragraph {
  width: 400px;
  margin: 20px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}
